<ServiceWorkerUpdateNotify>
  <a class="service-worker-update-notify" href={{this.router.currentURL}}>
    A new version is available, click here to update.
  </a>
</ServiceWorkerUpdateNotify>

{{outlet}}